---
import "../../assets/css/component/About/AboutImages/AboutImages.scss";
import aboutImg1 from "../../assets/media/team-work-3.jpg";
import aboutImg2 from "../../assets/media/team-work-4.jpg";
import aboutImg3 from "../../assets/media/team-work-1.jpg";
import aboutImg4 from "../../assets/media/team-work-2.jpg";
import aboutImg5 from "../../assets/media/team-work-5.jpg";
---

<section class="about_images_sec sec_pt sec_pb">
  <div class="container">
    <div class="about_images_row about_images_row-margin">
      <div class="about_images_col about_images_col-padding">
        <div class="about_img_block about_img_block-1 mb-md-3">
          <div
            class="about_img"
            style={{ backgroundImage: `url(${aboutImg1.src})` }}
          >
          </div>
        </div>
        <div class="about_img_block about_img_block-2">
          <div
            class="about_img"
            style={{ backgroundImage: `url(${aboutImg2.src})` }}
          >
          </div>
        </div>
      </div>
      <div class="about_images_col about_images_col-padding">
        <div class="about_img_block about_img_block-3">
          <div
            class="about_img"
            style={{ backgroundImage: `url(${aboutImg3.src})` }}
          >
          </div>
        </div>
      </div>
      <div class="about_images_col about_images_col-padding">
        <div class="about_img_block about_img_block-4 mb-md-3">
          <div
            class="about_img"
            style={{ backgroundImage: `url(${aboutImg4.src})` }}
          >
          </div>
        </div>
        <div class="about_img_block about_img_block-5">
          <div
            class="about_img"
            style={{ backgroundImage: `url(${aboutImg5.src})` }}
          >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
