---

// import { Link } from "react-router-dom";
// import { Image } from "react-bootstrap";
import ModalVideo from "../ModalVideo"
// import "./HireYourTeam.scss";

import { Image } from "astro:assets";
import hireTeam2img from "../../assets/media/team-work-1-1.jpg";
const hireTeam2 = "../../assets/media/team-work-1-1.jpg";
const hireTeamWebp2 = "../../assets/media/team-work-1-1.webp";


const { title, description, linkName } = Astro.props;
---

 <section
      class="hire_your_team_sec sec_pt sec_pb"
      style={{ background: "#f9f9f9" }}
    >
      <div class="container">
        <div class="row align-items-center mb-4 mb-lg-5">
          <div class="col-md-8 col-12">
            <div class="heading_wrapper">
              <h2 class="sec_heading sec_heading-medium with_border">
                {title}
              </h2>
            </div>
            <div class="desc mb-3 mb-md-0">
              <p>{description}</p>
            </div>
          </div>
          <div class="col-md-4 col-12">
            <div class="hire_your_team-btn">
              <a href="/contact" class="btn btn_secondary">
                {linkName}
              </a>
            </div>
          </div>
        </div>
        <div class="row custom_row_margin-lg">
          <div class="col-md-8 col-12 custom_col_padding-lg">
           <ModalVideo client:only="react"/>
          </div>
          <div class="col-md-4 col-12 custom_col_padding-lg">
            <div class="hire_your_team_img_block mt-4 mt-md-0">
              <div class="hire_your_team_img">
                <picture class="bg-overlay__media">
                  <source srcset={hireTeamWebp2} type="image/webp" />
                  <source srcset={hireTeam2} type="image/jpeg" />
                  <Image src={hireTeam2img} alt="footer" />
                </picture>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>