---
import workCardData from "../../ComponentAPI/workCardAPI";
// import "./WorkCard.scss";
---

<>
  {
    workCardData.map((val, index) => {
      return (
        <div class={"work-card " + val.clsName} key={index}>
          <div class="work-card__content">
            <h4 class="work-card__title">{val.title}</h4>
            <div
              class="work-card__desc"
              dangerouslySetInnerHTML={{ __html: val.description }}
            />
            {/* <Link to="/" class="btn btn-light">Read More</Link> */}
          </div>
          <div class="work-card__img">
            <img
              src={val.image}
              class="img-fluid"
              alt=""
              loading="lazy"
              width={val?.imgeWidth}
              height={val?.imageHeight}
            />
          </div>
        </div>
      );
    })
  }
</>
