---
// import Slider from "react-slick";
import wordsClientData from "../ComponentAPI/wordsClientAPI";
// import "./WordsFromClients.scss";

const clientSettings = {
  dots: false,
  infinite: true,
  speed: 1000,
  slidesToShow: 2,
  slidesToScroll: 1,
  touchThreshold: 30,
  centerPadding: "100px",
  centerMode: true,
  arrows: true,
  responsive: [
    {
      breakpoint: 1199,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 1,
      },
    },
    {
      breakpoint: 991,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
      },
    },
    {
      breakpoint: 575,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        centerPadding: "10px",
        centerMode: true,
      },
    },
  ],
};
const { secBg, isTopPadding } = Astro.props;
const secClassNames = secBg
  ? `${"words_from_client_sec sec_pt sec_pb ".concat(secBg)}`
  : `words_from_client_sec ${!isTopPadding ? "" : "sec_pt"} sec_pb `;
---

<section class={secClassNames}>
  <div class="container">
    <div class="heading_wrapper mb-5">
      <h2 class="sec_heading sec_heading-medium with_border">
        words from <span class="highlighted-text">clients</span>
      </h2>
    </div>
  </div>

  <div class="words_from_client_slider_wrapper">
    <!-- <Slider {...clientSettings}>
      {
        wordsClientData.map((val, index) => {
          return (
            <div class="item" key={index}>
              <div class="words_from_client_content_wrapper">
                <div class="words_from_client-details">
                  <p>{val.description}</p>
                </div>
                <div class="words_from_client-bottom-text">
                  <p class="words_from_client-name">{val.clientName}</p>
                  <p class="words_from_client-designation">
                    {val.clientOccupation}
                  </p>
                </div>
                <div class="words_from_client-img">
                  <img
                    src={val.clientImg}
                    alt=""
                    class="img-fluid"
                    loading="lazy"
                  />
                </div>
              </div>
            </div>
          );
        })
      }
    </Slider> -->
  </div>
</section>
